.wio-link {
  position: fixed;
  bottom: 30px;
  right: 30px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: #fafafa;
  box-shadow: 0 2px 7px 0 rgba(90, 90, 140, 0.40);
}
